/* Contenedor principal del carrusel */
.carrusel-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Hacer que el carrusel ocupe toda la altura de la ventana */
  overflow: hidden;
}

/* Estilo del carrusel */
.carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

/* Estilo de cada slide */
.slide {
  min-width: 100%;
  height: 100%; /* Aseguramos que las imágenes y videos ocupen todo el alto del contenedor */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Estilo de las imágenes y videos */
.slide img, .slide video {
  width: 100%;
  height: 100%; /* Ocupa toda la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen/video cubra toda el área sin deformarse */
}

/* Botones de navegación */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos generales para la sección de servicios */
.servicios {
  padding: 50px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/imagen_servicios.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.servicios h2 {
  font-size: 80px;
  margin-bottom: 30px;
  color: #929292;
}

.servicios-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.servicio-card {
  position: relative;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Habilita la perspectiva 3D */
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden; /* Evita que el reverso se vea al voltear */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.front {
  background-color: #eaeaea;
  overflow: hidden;
  transition: transform 0.5s;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.back {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #181717;
  color: rgb(192, 196, 187);
  padding: 20px;
  text-align: left;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
}

.back ol {
  margin: 0;
  padding-left: 25px;
  list-style-type: decimal;
  line-height: 1.5;
}

.back li {
  margin-bottom: 8px;
}
.servicio-card:hover .front {
  transform: rotateY(180deg); /* Rota la parte delantera */
}

.servicio-card:hover .back {
  transform: rotateY(0); /* Muestra el reverso */
}

h3 {
  margin-bottom: 10px;
}

p {
  font-size: 0.9em;
  line-height: 1.5;
}


